[submodule "windows/luafilesystem"]
	path = windows/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "windows/md5"]
	path = windows/md5
	url = https://github.com/keplerproject/md5.git
